filebrowser.bookmarks_file
filebrowser.defaultpath {{deadbeef.library}}
filebrowser.filter_enabled 0

gtkui.layout hsplitter pos=495 locked=0 {hsplitter pos=269 locked=0 {filebrowser {} pltbrowser {} } tabbed_playlist hideheaders=0 {} }
gtkui.layout.{{deadbeef_version}} vbox expand="0 1" fill="1 1" homogeneous=0 {hbox expand="0 1 0" fill="1 1 1" homogeneous=0 {playtb {} seekbar {} volumebar {} } hsplitter pos=503 locked=0 {hsplitter pos=350 locked=0 {filebrowser {} pltbrowser {} } tabbed_playlist hideheaders=0 {} } }
gtkui.mmb_delete_playlist 1
gtkui.name_playlist_from_folder 1
gtkui.titlebar_playing %a - %t - DeaDBeeF-%V
gtkui.titlebar_stopped DeaDBeeF-%V

gui_plugin GTK3

hotkey.key90 "Ctrl Return" 0 1 play_pause
hotkey.key91 "Ctrl Down" 0 1 next
hotkey.key92 "Ctrl Up" 0 1 prev

playlist.column.00 "Artist / Album" "%a - %b" -1 450 0
playlist.column.01 "Title" "%t" -1 246 0
playlist.column.02 "Playing" "" 1 50 0
playlist.column.03 "Album" "%b" -1 188 0
playlist.column.04 "Track No" "%n" -1 50 1
playlist.column.05 "Duration" "%l" -1 50 0
